$background-color: #527e90;
$wrapper-and-checboxes-color: #ffff;
$general-form-color: #fcfcfc;
$title-and-btn-color:#d64100;
$title-btn-rangetext-color: #27c09c;
$text-in-the-form: #e7e5e4;
$text-in-the-checkboxes: #7e96a5; 
$input-bio-uploadbtn-color: #e2e2e2;
$upload-color: #a3a3a3;
$input-age: #000000;
$income-btn: #ffff;