@font-face {
    font-family: FFNort-Regular;
    src: url(../font/FFNort-Regular.woff) format("woff");
  }

  @font-face {
    font-family: FFNort-Light;
    src: url(../font/FFNort-Light.woff) format("woff");
  }
  
  @font-face {
    font-family: FFNort-Medium;
    src: url(../font/FFNort-Medium.woff) format("woff");
  }
  
  @font-face {
    font-family: FFNort-Bold;
    src: url(../font/FFNort-Bold.woff) format("woff");
  }
